#cont { 
      display:flex;
            align-items: center; 
            justify-content: center; 
            color: green; 
            font-size: 50; 
        }
.panel{margin:10px;padding:10px;border-radius:10px;box-shadow:4px 4px 8px 1px rgba(50, 50,50, 0.74);min-width:16.5em;}
input[type="range"]{width: 96%;}
#set, #eximg{min-width: 12em; width:12em !important;}
#eximg{height:15em; text-align: center;}
#resultn, #resultb{height:34em;}
#mres{margin-top: 24px;border-radius: 10px;}
#ires{margin-top: 12px;border-radius: 10px;}